@import "vars";

.note {
  width: 200px;
  max-height: 200px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;

  &__placeholder {
    color: var(--placeholder-text-color);
  }

  &:hover {
    &::before {
      content: var(--edit-note-text);
      position: absolute;
      top: 4px;
      right: 12px;
      font-size: 12px;
      text-transform: lowercase;
      color: var(--placeholder-text-color);
    }
  }

  &__textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--field-background-color);
    resize: vertical;
  }
}
