.buttons {
  padding: 10px;
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 2px solid var(--button-border-color);
  background-color: var(--button-background-color);
  text-transform: uppercase;
  outline: none;
  pointer-events: painted;
  cursor: pointer;
}
